<div class="col-8 m-auto">
  <h1>Stupid Coaching</h1>
  <div class="list-group-item-primary p-10">
    <%= @question %>
    <p>-You</p>
  </div>
  <div class="list-group-item-warning m-20">
    <%= @answer %>
    <p>-Your coach</p>
  </div>
</div>
